services:
  db:
    extends:
      file: docker-compose.base.yml
      service: db
    environment:
      - POSTGRES_PASSWORD=leetpass
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - internal

  app:
    extends:
      file: docker-compose.base.yml
      service: app
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgres://leet:leetpass@db:5432/leetdb
    depends_on:
      - db
    networks:
      - internal

  web:
    extends:
      file: docker-compose.base.yml
      service: web
    environment:
      - NODE_ENV=production
    depends_on:
      - app
    networks:
      - internal
  gateway:
    extends:
      file: docker-compose.base.yml
      service: gateway
    expose:
      - "80"
    environment:
      - SERVER_NAME=${SERVER_NAME}
    networks:
      - internal
      - proxy-net

volumes:
  db_data:
    name: leet-terminal_db_data

networks:
  internal:
    external: true
    name: internal
  proxy-net:
    external: true
    name: leet-terminal_proxy-net
